/* Features */

.features-section {
  padding-bottom: 0;
}

.features-list {
  display: flex;
}

.features-list__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features-list__icon {
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.features-list__title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__text {
  line-height: 1.71;
}
