/* цвет фона #ffffff */
/* основной цвет текста #757575 */
/* вторчний чвет текста #212121 */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A */
/* цвет фона секции Команда #F5F4FA */
/* цвет ссылок в футтере rgba(255, 255, 255, 0.6); */
/* цвет фильтров #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --primary-bgc: #ffffff;
  --secondary-bgc: #2f303a;
  --team-bgc: #f5f4fa;
  --filters-color: #f5f4fa;
  --border-header-color: #ececec;
  --hero-bgc: #c4c4c4;
  --footer-icon-bgc: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
  --buttom-hover-bg-color: #188ce8;
}
